<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Form Page</title>
  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="module" src="../EditForm.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/editForm.css">
  <link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
<body>
<h1>Form: <span id="formId_span" th:data-backend-id="${formId}" th:text="${formTitle}"></span></h1>
<h4><span id="author" th:text="'Author: ' + ${user}"></span></h4>
<form id="eForm">
  <div class="wholeForm">
  <div id="surveyForm">
    <div id="inputContainer"></div>
  </div>

  <button id="addQ">Add Question</button>
  </div>
  <div class="actionButtons">
    <input id="submit" type="submit" value="Submit" />
  </div>
  <div id="submitMessage"></div>
</form>








</body>
</html>