<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Form Complete</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/formSubmitted.css">
  <link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
<h1>Form Successfully Submitted!</h1>

<body>
<div class="content">
  <p>
    Thank you for filling out the form. Your responses have successfully been saved :)
    </br>
    If you would like to fill out another form click here:
    <span class="viewFormLink"><a href="/forms">View All Forms</a></span>
    </br>
    </br>
    If not, you may now close the browser. Have a nice day!
  </p>
</div>

</body>
</html>