<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Form Complete</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<h1>Form Successfully Submitted!</h1>

<body>
<p>
  Thank you for filling out the form. Your responses have successfully been saved :)
  </br>
  If you would like to fill out another form click here:
  <a href="/forms">View All Forms</a>
  </br>
  </br>
  If not, you may now close the browser. Have a nice day!
</p>

</body>
</html>