<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page for Mini-SurveyMonkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
<body>

<div class="container">
    <h1>Mini-SurveyMonkey</h1>
    <div id="Username">
        <h3>Hi, <span th:text="${user}"></span></h3>
    </div>
    <div class="content">
        <h4>What would you like to do?</h4>
        <div class="options">
            <button th:onclick="|window.location.href='/seeBaseForm'|" method="get">Create a new Form!</button>
            <button th:onclick="|window.location.href='/'|">Edit existing Form</button>
            <button th:onclick="|window.location.href='/forms'|">View created Forms</button>
        </div>
    </div>
</div>
</body>
</html>