<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="Login.js"></script>
</head>
<body>
    <form id="LoginForm">
        <h1>Mini-Survey Monkey</h1>
        <h2>Please Enter Your UserName</h2>
        <label for="username">Username :</label>
        <input type="text" id="username" name="username" required>
        <button type="submit" value="Submit">Login</button>
    </form>
</body>
</html>