<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View Forms</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="module" src="LoadAllForms.js"></script>
  <script type="module" src="createField.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/listAllForms.css">
  <link rel="stylesheet" type="text/css" href="../styles/base.css">
<body>

<h1 class="searchTitle">Search for specific form</h1>
<div id="formsContainer">
  <div id="searchContainer">
    <input type="text" name="search" id="search" placeholder="search" class="form-control">
  </div>
</div>
<div class="content" id="result"></div>

<h1 class="allFormsTitle">All Forms</h1>
<div id="allForms" class="content">
</div>


</body>
</html>