<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../LoadForm.js" ></script>
    <script src="../submitResponse.js"></script>
    <script src="../CloseForm.js"></script>
</head>
<body>
<h1>Form Page for Form ID: <span id="formId_span" th:data-backend-id="${formId}" th:text="${formId}"></span></h1>

<!-- AJAX call to retrieve form information -->
<div id="formContainer">
    <p id="author">Author: </p>
    <button type="button" id="closeButton">Close Form</button>
    <form id="responseForm">
        <div id="questionsContainer"></div>
        <button type="submit">Submit</button>
    </form>

</div>

</body>
</html>
