@font-face {
    font-family: "Unica77 LL";
    src: url("https://db.onlinewebfonts.com/t/b785851e8b09ba75618fcc06d8bcae6b.eot");
    src: url("https://db.onlinewebfonts.com/t/b785851e8b09ba75618fcc06d8bcae6b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b785851e8b09ba75618fcc06d8bcae6b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b785851e8b09ba75618fcc06d8bcae6b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b785851e8b09ba75618fcc06d8bcae6b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b785851e8b09ba75618fcc06d8bcae6b.svg#Unica77 LL")format("svg");
}

html {font-family: "Unica77 LL";}
