body {
    font-family: "Unica77 LL";
    background-color: #f0f0f0;
}
h1 {
    margin: auto;
    margin-top: 20px;
    max-width: 800px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto 5px auto;
    width: 800px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-content: center;
}
p {
    font-size: 20px;
    line-height: 30px;
}
.viewFormLink {
    background-color: #f8d35b;
    color: #050505;
    padding: 5px;
    border-radius: 8px;
}

a:visited {
    color: #050505;
}