/* Reset some default styles */
body, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: "Unica77 LL";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #1E152A;
    transform: scale(1.2)
}


/* Apply background color and set font styles */
body {
    background-color: #f0f0f0;
    color: #050505;
    margin: 0;
}

/* Style the page heading */
h1 {
    color: #534F51;
    margin: 20px auto 10px auto;
    width: 820px;
    text-decoration: underline;
}

h3 {
    margin: 0px;
    color: #534F51;
}

h4 {
    margin: 5px;
    color: #534F51;
}

/* Style the username container */
#Username {
    margin: 0px auto;
    width: 820px;
    padding-top: 20px;
    color: #004F2D;
}

/* Style the content container */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto 5px auto;
    width: 800px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-content: center;
}

/* Style the buttons */
button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f8d35b;
    color: black;
    margin-bottom: 10px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-out 50ms, color 0.5s ease-out 50ms
}

button:hover {
    background-color: #746F72;
    color: #f8d35b;
}

.options {
    display: flex;
}
