body {
    font-family: "Unica77 LL";
    background-color: #f0f0f0;
}

.allFormsTitle, .searchTitle, #searchContainer {
    margin: auto;
    margin-top: 20px;
    max-width: 820px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto 5px auto;
    width: 800px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-content: center;
}

.formTitle, .authorName {
    display: inline;
}

.formTitle {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.authorName {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    padding: 5px;
}

.formLink {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f0f0f0;
}

input {
    height: 20px;
    font-size: 15px;
}

#searchContainer input:focus-visible {
    outline: 2px solid #f8d35b;
    border: none;
}

.formTitle {
    background-color: #f8d35b;
    color: #050505;
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.5s ease-out 50ms, color 0.5s ease-out 50ms;
}
.formTitle:hover {
    background-color: #050505;
    color: #f8d35b;
}