body {
    font-family: "Unica77 LL";
    background-color: #f0f0f0;
}
h1 {
    margin: auto;
    margin-top: 20px;
    max-width: 760px;
}

h4 {
    max-width: 760px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #050505;
}

#formTitle {
    width: 90%;
    width: calc(100% - 20px);
    height: 25px;
    font-size: 20px;
    padding: 5px;
}

#formContainer {
    max-width: 800px;
    margin: 20px auto 50px auto;
}

#questionsContainer {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(30, 21, 42, 0.3);
}

textarea {
    width: calc(100% - 20px);
    margin: 5px;
    font-family: "Unica77 LL";
    font-size: 15px;
}

#formTitleDiv {
    margin: 10px auto 30px auto;
}

#submit:hover, {
    background-color: #191923;
    color: #FAF4D3;
}

.questionTitle {
    height: 20px;
    font-size: 17px;
    width: 50%;
    margin: 5px;
}

label {
    font-weight: bold;
    display: block;
}

.numericField {
    height: 20px;
    font-size: 15px;
    margin: 5px;
}

.question {
    padding: 2px;
}

button, input {
    font-family: "Unica77 LL";
}
#closeButton, #deleteFormButton, #editButton, #submit{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f8d35b;
    color: #050505;
    margin: 8px 5px 8px 5px;
    font-weight: bold;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-out 50ms, color 0.5s ease-out 50ms
}

#closeButton, #deleteFormButton, #editButton {
    float: right;
}

.spacer {
    clear: both;
}

.mcLabel {
    font-size: 15px;
    margin: 5px;
}

.mcOptionDiv {
    display: flex;
}

.mcOptionDiv input{
    margin: 5px;
}

.formHeader {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.actionButtons {
    margin-right: 20px;
    margin-left: 20px;
}

#formId_span {
    margin: 5px;
}

#author {
    margin: 5px;
}